@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
  2. Common Selectors
  3. Header / header
    3.1 Navigation styling
  4. Main / main
    4.1. Banner styling
    4.2. aside styling
    4.3 Content section 
      4.3.1 overview section styling
      4.3.2. Why Attend section styling
      4.3.3. Speaker section styling
      4.3.4. Agenda styling
      4.3.5. Venue styling
      4.3.6. Sponsors styling
    4.4. help ocean
    4.5. modal styling
  5. Footer / .footer
  6. Media Query
  ------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

/* ==========================================================================
   2. Common Selectors
   ========================================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  max-width: 1400px;
  width: 82.69%;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -ms-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

body { font-family: 'Lato', sans-serif; }
.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }
.first-letter:first-letter { text-transform: capitalize; }
img { width: 100%; }

/* ==========================================================================
   3.Header
   ========================================================================== */

header {
  padding: 5px 0 0;
  background: url(../images/Group.jpg) 0px/cover no-repeat ; 
}

header .wrapper { width: 78.7%; }

h1 a span {
  display: block;
  text-indent: -99999px;
}

h1 {
  width: 18.5%;
  margin-left: -4px;
  display: inline-block;
  vertical-align: top;  
}

header form {
  margin: 37px 1% 0;     
  border: 0.5px solid #a4b8ce;
  border-radius: 5px;
  float: right;
}

form label,
.search-close,
.menu-close { display: none; }

header form input[type="text"] {
  padding:13px 18px 13px 10px;
  border: none;
  background: transparent;
  color: #fff;
  outline: none;
}

::placeholder { color: #a4b8ce; }
::-webkit-input-placeholder { color: #a4b8ce; }
::-moz-placeholder { color: #a4b8ce; }
::-ms-input-placeholder { color: #a4b8ce; }
:-moz-placeholder { color: #a4b8ce; }

form button {
  border: none;
  padding: 0 12px;
  background: transparent;
  color: #f3faf7;
  font-size: 18px;
  outline: none;
}

/*========================================================================== 
  3.1 Navigation styling
 ========================================================================== */   

.hamburger { display: none; }

nav {
  padding: 8px 0 2px 0;
  border-bottom: 2px solid #aeaeb2;
  margin-top: 5px;  
  background-color: rgba(1,1,1,0.4);
}

nav ul{ text-align: right; }

nav li {
  display: inline-block;
  vertical-align: top;
}

nav ul li a {
  padding: 0 3px;
  border-bottom: 5px solid transparent;
  display: inline-block;
  color: #fff;
  font: normal 600 12px 'Hind', sans-serif;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

nav ul li a:hover { color: red; }
nav ul li:first-child a { 
  vertical-align: text-bottom;
  font-size: 20px;
}

nav ul li:not(:last-child):after {
  content: "";
  width: 1px;
  height: 12px;
  display: inline-block; 
  background: #fff;
  vertical-align: text-bottom;
}

nav ul li:first-child:after {     
  vertical-align: top;
  margin-top: 5px;
}

.menu-close { display: none; }

/* ==========================================================================
   4.Main
   ========================================================================== */

/* ==========================================================================
   4.1 Banner styling
   ========================================================================== */

.banner {
  padding: 66px 0 77px;
  position: relative;
  background: url(../images/Ocean-2018-Mexico-1700-300.jpg) 88%/cover no-repeat scroll ; 
}

.banner .wrapper { width: 78.7%; }

.overlay {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: -webkit-linear-gradient(rgba(17,17,17,0.9), rgba(0,0,0,0) ,rgba(0,0,0,0));
  background-image: -moz-linear-gradient(rgba(17,17,17,0.9), rgba(0,0,0,0) ,rgba(0,0,0,0));
  background-image: -ms-linear-gradient(rgba(17,17,17,0.9), rgba(0,0,0,0) ,rgba(0,0,0,0));
  background-image: -o-linear-gradient(rgba(17,17,17,0.9), rgba(0,0,0,0) ,rgba(0,0,0,0));
  background-image: linear-gradient(rgba(17,17,17,0.9), rgba(0,0,0,0) ,rgba(0,0,0,0));
  background-size: 100% 100%;
}

h2 { 
  color: #fff;
  font-size: 40px;
  font-family: "Vollkorn-R";
  text-transform: capitalize;
}

h2 span {  font-family: "Vollkorn-R"; }
.banner h2>span {
  font-size: 35px;
  letter-spacing: 2px;
}

.banner .txt-no {
  vertical-align: middle;
  font-size: 38px;
}

.banner .day-no { vertical-align: middle; }

.banner .content {
  width: 50%;
  padding-bottom: 8px;
  position: relative;
  z-index: 1;
}

.banner li {
  margin: 14px 0;
  display: inline-block;
  color: #B2BCD7;
  font: normal 100 15px Hind, sans-serif;
  line-height: 21px;
}

.banner li:first-child { margin-right: 10px; }

.banner li:first-child::after {
  content: "";
  height: 18px;
  width: 1px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  background-color: #b7b7b7;
} 

.banner a {
  width: 44.7%;
  padding: 10px 10px 10px 24px;
  border: 2px solid transparent;
  background: #fff;
  color: #587d9c;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.banner a span {
  display: inline-block;
  padding-top: 2px;
}

.banner a>i {
  float: right;
  font-size: 20px;
}

.banner a:hover {
  border-color: #fff;
  background: transparent;
  color: #fff;
}

.book-txt {
  margin-left: 10%;
  font-size: 14px;
  font-weight: 800;
  color: #f6f8fa;
}

/* ==========================================================================
   4.2 aside styling
   ========================================================================== */
.sections .wrapper { width: 78.65%; }

aside { 
  width: 33%;
  padding: 3% 0;
  display: inline-block;
  vertical-align: top;
}

aside li {
  margin-top: 18px;
  list-style-type: none;
}

aside li a {
  color: #4a7897;
  font-size: 15.1px;
  text-decoration: underline;
}

aside li a:hover { color: red; }

h4 {
  padding: 5px 0;
  margin-top: 20px;
  display: block;
  color: #494b4e;
  font-family: 'Lora', serif;
  font-size: 20px;
}

aside h4:first-letter { text-transform: uppercase; }

aside h4:before {
  content: "";
  width: 32px;
  height: 5px;
  margin: 30px 0 23px;
  display: block;
  background-color: #4a7897;
}

.social-links li{
  width: 17%;
  display: inline-block;
  vertical-align: top;
}

.social-links li a {
  padding: 3px 6px;
  font-size: 20px;
  text-decoration: none;
}

.social-links li:nth-child(1) a {
  padding: 3px 10px; 
  color: #1d487d;
  transition: ease-in 0.2s;
  -webkit-transition: ease-in 0.2s;
  -moz-transition: ease-in 0.2s 
}

.social-links li:nth-child(1) a:hover { 
  border-radius: 5px;
  background-color: #1d487d; 
  color: #fff;
}

.social-links li:nth-child(2) a { 
  color: #52adf1;
  transition: ease-in 0.2s;
  -webkit-transition: ease-in 0.2s;
  -moz-transition: ease-in 0.2s 
}

.social-links li:nth-child(2) a:hover { 
  border-radius: 5px;
  background-color: #52adf1; 
  color: #fff;
}

 
.social-links li:nth-child(3) a { 
  color: #fb0200;
  transition: ease-in 0.2s;
  -webkit-transition: ease-in 0.2s;
  -moz-transition: ease-in 0.2s 
}

.social-links li:nth-child(3) a:hover { 
  border-radius: 5px;
  background-color: #fb0200; 
  color: #fff;
}
 
.social-links li:nth-child(4) a { 
  color: #0076b5;
  transition: ease-in 0.2s;
  -webkit-transition: ease-in 0.2s;
  -moz-transition: ease-in 0.2s 
}

.social-links li:nth-child(4) a:hover { 
  border-radius: 5px;
  background-color: #0076b5; 
  color: #fff;
}

/*========================================================================== 
  4.3 Content section 
 ========================================================================== */   
.sections .content {
  width: 66.5%;
  display: inline-block;
}

.content { margin-top: 23px; }

/*========================================================================== 
  4.3.1 overview section styling
 ========================================================================== */   
p {
  margin: 22px 0;
  color: #666767;
  font-size: 16px;
}

h3 {
  margin-top: 13px;
  display: inline-block;
  color: #44484B;
  font-family: 'Lora', serif;
  font-size: 31px;
  text-transform: capitalize;
}

h3:before {
  content: "";
  width: 32px;
  height: 5px;
  margin-bottom: 14px;
  display: block;
  background-color: #4a7897;
}

.list {
  padding: 10px 2% 10px 3.2%;
  border-bottom: 2px solid #a7bac5;
  margin: 23px 0 28px;
  display: block;
  color: #597b94;
  font-size: 13px;
  font-weight: bold;
}

.list span {
  float: right;
  font-size: 20px;
}

.list:hover {
  background-color: #597b94;
  color: #fff;
}

.overview li {
  padding: 3px 0;
  list-style-type: none;
}

.overview li:not(first-child) { margin-top: 21px; }

.overview>ul li:before {
  content: '>';
  margin-right: 6px;
  display: inline-block;
  vertical-align: middle;
  color: #888;
  font-size: 14px;
}

 .overview>ul li a {
  display: inline-block; 
  color: #888;
  font: normal 100 16px Hind, sans-serif;
}

.overview>ul li a:hover { text-decoration: underline; }
.overview>ul li a:first-letter { text-transform: uppercase; }

.sub-heading {
  padding-top: 24px;
  display: block;
  color: #3D4042;
  font-size: 15px;
  font-weight: bold;
}

.sub-heading + p { margin: 1px 0 24px; }
.video { position: relative; } 

.video>img {
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%); 
  -moz-transform: translateY(-1%); 
  transform: translateY(-1%);
}

.video .play {
  width: 156px;
  height: 156px;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  cursor: pointer;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.video .play:hover { opacity: 0.8; }
/* ==========================================================================
    4.3.2. Why Attend section styling
   ========================================================================== */

.attend { margin-top: 20px; }

.feature-topic {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.feature-topic:first-child { margin-right: 5px; }

.feature-topic li { 
  padding-left: 10px;
  display: block;
  position: relative; 
  color: #888;
  font: normal 100 16px Hind, sans-serif;
  letter-spacing: -0.2px;
  line-height: 21px;
}

.feature-topic li:first-letter { text-transform: uppercase; }

.feature-topic li:before {
  content: " ";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: -17px;
  background-color: #888;
}

 h4 { margin: 0 0 20px; }
.attend .image-box { margin: 34px 0 7px; }


/* ==========================================================================
    4.3.3. Speaker section styling
   ========================================================================== */

.profile li {
  width: 22.8%;
  margin-right: 1.7%;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
}

.profile li a:hover { transform: scale(1.04); }

.profile a p { margin-bottom: 0;}
.profile span { color: #808282; }
.profile .profile-image { padding: 2px; }
.profile .profile-image img { border-radius: 50%; }

.profile .name {
  padding: 0 8%;
  margin: 28px 0 5px;
  display: block;
  color: #393C3F;
  font: normal 600 15px Lora, serif;
  letter-spacing: 0.1px;
  text-transform: capitalize;
}


/* ==========================================================================
    4.3.4. Agenda styling
   ========================================================================== */

.tab-child li {
  display: inline-block;
  vertical-align: top;
}   

li { list-style-type: none; }

.agenda .tab-block {
  border: 1px solid #51768b;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.tab-child li{ width: 33.32%; }

.tab-child li a {
  padding: 12px 10px 12px 24px;
  display: block;
  background-color: #426886;
  color: #fff;
  font: normal 900 13px Hind, sans-serif;
  text-transform: uppercase;
  transition: ease-in 0.2s;
  -webkit-transition: ease-in 0.2s;
  -moz-transition: ease-in 0.2s
} 

.tab-child li:not(:last-child) a { border-right: 1px solid #fff; }

.right { 
  float: right;
  font-size: 18px;
}


.tab-child .active a,
.tab-child a:hover {
  background-color: #fff;
  color: #426886;
}

.tab-child.active a:after { color: #426886; }
.tab-ul>li { display: none; }
.tab-ul .open { display: block; }
.tab>li { display: block; }

.event-detail .time {
  margin-right: 4%;
  color: #3e3f41;
  font: normal 900 15px Hind, sans-serif;
  letter-spacing: 0.1px;
}

.tab-list li { display: block; }

.event-name{
  color: #a3a3a4;
  font-size: 16px;
  text-transform: uppercase;
}

.tab-content .event-detail {
  padding: 10px 10px 9px 24px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: block;
  background-color: #fafafa;
  cursor: pointer;
}

.arrow {
  float: right;
  color: #4a7997;
  font-size:18px;
}

.event-detail .right { color: #4a7997; }

.tab-list .detail-box {
  padding: 26px 0% 13px 17%;
  background: #eee;
  transition: ease-in 0.2s;
  -webkit-transition: ease-in 0.2s;
  -moz-transition: ease-in 0.2s;
}

.detail-box p{
  padding: 10px;
  margin: 0;
}

.detail-box li {
  width: 30%;
  margin-right: 8px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.detail-box .name {
  padding: 0 20px;
  margin: 28px 0 5px;
  color: #111;
  font: normal 600 16px Lora, serif;
  letter-spacing: 0.1px;
  text-transform: capitalize;
}

.tab li:not(:first-child) .detail-box { display: none; }
.detail-box .profile-image { padding: 6px; }
.detail-box .profile-image img { border-radius: 50%; }

.accordian .time {
  margin-right: 4%;
  font: normal 900 15px Hind, sans-serif;
  letter-spacing: 0.1px;
}

.accordian li:last-child .detail-box{ display: none; }

.accordian .detail-box {
  padding: 26px 0% 13px 17%;
  background-color: #eee;
  transition: ease-in 0.2s;
  -webkit-transition: ease-in 0.2s;
  -moz-transition: ease-in 0.2s;
}

 .accordian .event-detail {
  padding: 10px 10px 9px 24px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: block;
  background-color: #fafafa;
  cursor: pointer;
}

.accordian .image { padding: 6px; }

.accordian .image img { 
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/* ==========================================================================
    4.3.5. Venue styling
   ========================================================================== */

.venue { margin-top: 20px; }

.venue h3 { 
  padding-bottom: 0;
  margin-bottom: 0;
}

address { 
  color: #888; 
  font-family: Hind, sans-serif;
}

address span { 
  display: block; 
  line-height: 20px;
}

address .phone { margin: 18px 0; } 

address a {
  color: #888; 
  font-family: Hind, sans-serif;
  line-height: 20px;
} 

address>span:first-child {
  color: #45494c;
  font: normal 900 15.2px Hind, sans-serif;
  line-height: 30px;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}

.contact-no { padding: 23px 0; }
.venue .image { padding-top: 15px; }

.sub-head { 
  margin-top: 23px;
  display: inline-block;
  color: #45494c;
  font: normal 900 15.2px Hind, sans-serif;
}

address span a:hover { color: #4a7997; }
.sub-head+p { margin: 5px; }

/* ==========================================================================
    4.3.6. Sponsors styling
   ========================================================================== */

.sponsors { margin: 24px 0 18px; }

.sponsors li{
  width: 21.5%;
  padding: 0 10px;  
  margin: 31px 0;
  display: inline-block;
  vertical-align: top;   
}

.sponsors li:not(:last-child) { margin-right: 3%; }

/* ==========================================================================
    4.4. help ocean
   ========================================================================== */

.help-ocean .wrapper { width: 78.1%; }

.help-ocean {
  padding-top: 38px;
  background-color: #f3f3f2;
}

.help-ocean ul { margin-top: 13px; }

.help-ocean li {
  width: 31.6%;
  margin-right: calc(2% - 5px);
  margin-bottom: 43px;
  display: inline-block;
  position: relative;
  background-color: #fff;
}

.help-ocean .finance {
  padding: 7px 24px;
  display: inline-block;
  position: absolute;
  top: 12px;
  left: 0;
  background-color: #797979;
  color: #d1d1d1;
  font-size: 9px;
  font-weight: bold;
  text-align: center;
}

.article-content {
  width: 100%;
  padding: 26px 12px 0 23px;
}

.article-content .subheading {
  margin: 0;
  color: #d05554;
  font: normal 500 10px Hind, sans-serif;
  text-transform: uppercase;
}

.article-content .subheading:after {
  content: '\f144';
  float: right;
  vertical-align: middle;
  color: #ccc;
  font: normal 900 20px 'Font Awesome\ 5 Free';
}

h5 { margin-bottom: 0; }

h5 a {
  margin-top: 14px;
  color: #686c6e;
  font: normal 600 15px Lora, serif;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

h5 a:hover { text-decoration: underline; }
.article-content p { margin: 0; }

.article-content .date {
  padding: 10px 0 23px 5px;
  border-top: 1px solid #f4f3f3;
  margin-top: 42px;
  display: block;
  color: #9e9e9e;
  font: normal 500 10px Hind, sans-serif;
  text-transform: uppercase;
}

.article-content .date:after {
  content: '\f061';
  float: right;
  vertical-align: middle;
  color: #ce1d0e;
  font: normal 900 20px 'Font Awesome\ 5 Free';
  transition: ease-in 0.2s;
  -webkit-transition: ease-in 0.2s;
  -moz-transition: ease-in 0.2s;
}

.article-content .date:hover {
  border-color: #ce1d0e;
  margin-right: 5px;
  color: #ce1d0e;
}

/* ==========================================================================
    4.5. modal styling
   ========================================================================== */

.modal-container span {
  display: none;
  float: right;
  color: #4a7997;
  cursor: pointer;
  font-size: 20px;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 1;
  left: 0;
  top:0;
  display: none;
}

.name {
  padding: 0 18px;
  margin: 28px 0 5px;
  display: inline-block;
  color: #111;
  font: normal 600 15px Lora, serif;
  letter-spacing: 0.1px;
  text-transform: capitalize;
}

.modal-container li{ margin:15px 0; }
.profile-image { display: inline-block; }

.profile-image img { 
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.modal .modal-container {
  width: 50%; 
  padding: 15px;
  margin: auto;
  position: relative;
  z-index: 3;
  top: 50%;
  background-color: #fff;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: ease-in 1s;
  -o-transition: ease-in 1s;
  transition: ease-in 1s;
  opacity: 1;
}

.open { display: block; }


/* ==========================================================================
    5. Footer styling
   ========================================================================== */

footer {
  border-top: 6px solid #e2170a;
  background: url('../images/Group(1).jpg') no-repeat center;
  background-size: cover;
  color: #bec2c5;
}

.footer-top { padding: 28px 0 85px; }

.footer-item {
  width: 32%;
  padding-right: 15px;
  display: inline-block;
  vertical-align: top;
}

.footer-subheding {
  margin-top: 32px;
  display: inline-block;
  color: #f7fafb;
  font-family: 'Lora', serif;
  font-size: 20px;
}

footer li { list-style: none; }
.footer-links a { color: #bec2c5; }
.footer-links a:hover { text-decoration: underline; }
.social-icons { margin-top: 18px; }

.social-icons li { 
  margin-right: 10px;
  display: inline-block;
}

.social-icons a {
  width: 45px;
  height: 45px;
  padding: 10px 0;
  border: 1px solid transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  display: block;
  background-color: #fff;
  font: normal 900 22px 'Font Awesome 5 Brands';
  text-align: center;
}

.social-icons a:hover { color: #fff; }
.fa-facebook-f {  color: #1d487d; }
.fa-facebook-f:hover {  background-color: #1d487d; }
.fa-twitter { color: #52adf1; }
.fa-twitter:hover { background-color: #52adf1; }
.fa-youtube { color: #fb0200; }
.fa-youtube:hover { background-color: #fb0200; }
.fa-linkedin-in { color: #0076b5; }
.fa-linkedin-in:hover { background-color: #0076b5; }

.footer-bottom {
  padding: 13px 0;
  background: rgba(0,0,0,.3);
}

.footer-bottom li{ display: inline-block; }

.footer-bottom li a {
  padding: 0 2px;
  display: inline-block;
  color: #c0c2c6;
  font: normal 300 14.5px Hind, sans-serif;
  letter-spacing: -0.2px;
}

.footer-bottom li a:hover { text-decoration: underline; }
.footer-bottom ul { display: inline-block; }

.footer-bottom ul li:not(:last-child):after {
  content: " ";
  width: 1px;
  height: 12px;
  margin-left: 5px;
  display: inline-block;
  background-color: #c0c2c6;
}

.footer-bottom p {
  margin:0;
  float: right;
  font-size: 14.5px;
}

/* ==========================================================================
    6. Media Query
   ========================================================================== */

@media screen and ( max-width: 1187px ) {

  .profile li { width: 22%; }
  .sponsors li{ width: 20.5%; }

  .footer-bottom ul,
  .footer-bottom p {
    width: 50%;
    margin-left: -5px;
    display: inline-block;
  }

  footer .wrapper { width: 90%; }

  .footer-bottom li a,
  .footer-bottom p { font-size: 13px; }
}

@media screen and ( max-width: 1055px ) {

  .sections .wrapper,
  header .wrapper { width: 89.73%; }

  h1 { width:35%; }

  .footer-bottom li a,
  .footer-bottom p { font-size: 12px; }

}

@media screen and ( max-width: 975px ) {

  nav ul li:first-child a { font-size: 18px; } 
  .banner { background-position: 70% 20%; }
  .banner .content { width:80%; }
  aside { width: 32%; }
  .sections .content { width: 66.5%; }
  .profile li { width: 44.8%; }
  .sponsors li{ width: 35.5%; }
  .sponsors li:not(:last-child) { margin-right: 14%; }
  .social-icons li {  margin-right: 2px;  }

  .footer-bottom ul, 
  .footer-bottom p { 
    width: 100%; 
    text-align: center;
  }

  .footer-bottom p { margin-top: 15px; }

  .footer-bottom li a,
  .footer-bottom p { font-size: 15px; }  
}


@media screen and ( max-width: 768px ) {

  .wrapper { width: 92%; }
  
  h1 {
    width: 35%;
    margin: 0 auto; 
    display: block;
  }

  aside { display: none; }

  .sections .content {
    width: 100%;  
    display: block;
  }

  nav { padding: 8px 0; }

  .hamburger { 
    font-size: 25px;
    display: block;
    color: #fff;
  }
  
  .hamburger span { 
    padding: 5px 12px;
    display: inline-block;
    vertical-align: top;
    font-size: 17px;
  }

  .menu-parent { 
    width: 230px;  
    height: 100%; 
    padding-top: 30px;
    overflow-x: hidden;
    position: fixed;
    z-index: 10;
    top: 0;
    left: -240px;
    background-color: #07195b;
    text-align: center;
    transition: 0.3s ease-in-out;
  }

  .menu-parent ul li { 
    padding: 10px 0;
    display: block; 
    text-align: center;
  }

  nav ul li:not(:last-child):after { width: 0; }

  .menu-parent a { 
    padding: 10px;
    color: #fff; 
  }
  
  .menu-parent ul li a { font-size: 15px; }
  .menu-parent ul li a:hover { color: #fff; }
  .menu-parent ul { margin-top: 30px; }

  .menu-close {
    display: block;
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 25px;
  }
  
  header { position: relative; }

  header form {
    border:none;
    position: absolute;
    top: 65%;
    right: 0;
    transform: translateY(-70%);
  }
  
  header form input[type="text"] { padding:8px; }

  .search-wrap { 
    border: 1px solid #fff;
    display: none;
  }

  form label {
    border: none;
    display: block;
    color: #fff;
    font-size: 18px;
    outline: none;
  }

  .banner {
    padding: 24px 0 20px;
    background-position: 60% 20% ;
  }

  .banner .content { width: 100%; }
  .banner ul { margin: 14px 0; }
  .banner li {
    margin: 0;
    display: block;
  }

  h2 { width: 50%; }

  .banner li:first-child::after {
    content: " ";
    width: 0;
  }  

  .banner a:hover {
    border: 2px solid transparent;
    background: #fff;
    color: #587d9c;
  }

  .banner a+span,
  .banner a{
    width: 100%;
    display: block;
  }
  
  .banner a+span { 
    padding-top: 38px;
    text-align: center;
  }

  .book-txt { margin-left: 0; }

  .video .play { 
    width: 120px;
    height: 120px;
  }

  .list:hover {
    background-color: #fff;
    color: #597b94;
  }
  
  .overview>ul li a:hover { text-decoration: none; }
  .profile li a:hover { transform: scale(1); }

  .tab-child a:hover {
    background-color: #426886;
    color: #fff;
  }
  
  .video .play:hover { opacity: 1; }

  .tab-child .active a{
    background-color: #494949;
    color: #fff;
  }

  .time,
  .event-name { 
    display: block;
    text-align: center;
  }

  .tab-child li { width: 100%; }

  .right,
  .arrow { display: none; }

  .tab-child li:nth-child(2),
  .tab-child li:last-child { display: none; }

  .tab-list .detail-box { padding: 26px 20px 13px; }
  .detail-box ul img{ display: none; }

  .detail-box ul li {
    width:100%;
    display: block;
    list-style-type: circle;
    text-align: left;
  }  

  .tab-child li a:after{
    content: '\f0d7';
    float: right;
    color: #ccc;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
  }

  .detail-box p { 
    padding: 0;
    display: inline-block;
    color: #515151;
    font-weight: 600;
  }

  .detail-box .name { 
    padding: 0;
    color: #515151;
  }

  .tab-child li:not(:last-child) a { border-right: 1px solid #484848; }
  address span a:hover { color: #888; }

  .sponsors li {
    width: 35.5%;
    margin-right: 5%
  }

  .help-ocean li {
    width: 100%;
    display: block; 
  }

  .article-content .date:hover {
    margin-right: 0px;
    border-color: #f4f3f3;
    color: #9e9e9e;
  }

  .article-image,
  .article-content {
    width: 50%;
    height: 190px;
    margin-left: -5px;
    display: inline-block;
    vertical-align: top;
  }

  .article-content { position: relative; }
  .help-ocean .finance { left: -5px; }

  .article-content .date {
    width: 80%;
    position: absolute;
    bottom: 0;
  }

  .article-image img{
    width: 100%;
    height: 100%;
  }

  .footer-item {
    width: 100%;
    text-align: center;
  }

  .footer-item:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 2px solid #505559;
  }

  .social-icons { margin-top: 15px; }
  .footer-item:not(:first-child) { padding-top: 20px; }
  .social-icons a:hover { background-color: #fff; }
  .social-icons a.fa-facebook-f:hover {  color: #1d487d; }
  .social-icons a.fa-twitter:hover { color: #52adf1; }
  .social-icons a.fa-youtube:hover { color: #fb0200; }
  .social-icons a.fa-linkedin-in:hover { color: #0076b5; }

  .footer-bottom li a:hover,
  .footer-links a:hover { text-decoration: none; }
}

@media screen and ( max-width: 480px ) {
  
  .video .play { 
    width: 95px;
    height: 95px;
  }

  h2 { width: 80%; }
  .feature-topic { width: 100%; }
  .sponsors li { width: 33%; }

  .article-image,
  .article-content { height: 250px; }

  .footer-bottom li { display: block; }
  .footer-bottom ul li:not(:last-child):after { width: 0; }
}
